:root {
  --bg-top:#090D19;
  --bg-mid:#6265FE;
  --bg-bottom:#CFE7FF;
  --accent:#B6BBFF;
  --glass-border: rgba(255,255,255,0.1);
}

@font-face {
  font-family: 'Lobelia';
  src: url('../fonts/Lobelia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{box-sizing:border-box;margin:0;padding:0}
html,body{height:100%;width:100%}
body{
  background: linear-gradient(180deg,#6265FE 4%,#B6BBFF 66%,#CFE7FF 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  color:#fff;
  overflow-x:hidden;
}

.header {
  position:relative;
  display:flex;
  flex-direction:column;
  padding: clamp(20px,4vw,40px) clamp(10px,6vw,40px) 0;
  width:100%;
  flex-shrink:0;
}

.logo{
  font-family:"Lobelia",sans-serif;
  font-size: 18px;
  font-weight:400;
  letter-spacing:1px;
  line-height:1;
  text-transform:uppercase;
  color:#CFE7FF;
  width:max-content;
}

.arrow {
  border: none;
  background: none;
  position:absolute;
  right:clamp(20px,4vw,40px);
  width:clamp(50px,10vw,70px);
  height:clamp(50px,10vw,70px);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:0;
  opacity:0.9;
  cursor: pointer;
}

.arrow svg {width:100%;height:100%;}

#title{
    font-family: "Gilroy-ExtraBold";
    font-size:clamp(38px,6vw,48px);
    color: #CFE7FF;
    line-height: 1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: clamp(20px,3vw,100px);
}

.card-svg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  overflow: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card {
  width: calc(207px * 1.2);
  height: calc(373px * 1.2);
  border-radius: calc(30px * 1.2);
  margin-bottom: calc(30px * 1.2);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  min-height: 500px;
}

.main-card {
  background: #6265FE;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 12px 24px rgba(57, 35, 155, 0.329);
  z-index: 2;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.screen {
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.phone {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-meaning {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 3vw, 32px);
  color: #6265FE;
  max-width: 600px;
  text-align: center;
}

.panel {
  border-radius: clamp(35px, 4vw, 50px) clamp(35px, 4vw, 50px) 0 0;
  padding: clamp(30px, 5vw, 20px);
  background: rgba(190, 243, 223, 0.15);
  border: 1px solid var(--glass-border);
  backdrop-filter: blur(10px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.04), 0 8px 30px rgba(14, 16, 40, 0.35);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
  overflow-wrap: anywhere;
  hyphens: auto;
  position: relative;
  margin-top: auto;
  flex-shrink: 0;
}