:root {
  --bg-top:#090D19;
  --bg-mid:#6265FE;
  --bg-bottom:#CFE7FF;
  --accent:#B6BBFF;
  --glass-border: rgba(255,255,255,0.1);
}

.geologica {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

@font-face {
  font-family: 'Lobelia';
  src: url('../fonts/Lobelia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{box-sizing:border-box;margin:0;padding:0}
html,body{height:100%;width:100%}
body{
  background: linear-gradient(180deg,#090D19 0%,#6265FE 30%,#B6BBFF 90%,#CFE7FF 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  color:#fff;
  overflow-x:hidden;
}

.phone {
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  margin:0 auto;
  border-radius:30px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.header {
  position:relative;
  display:flex;
  flex-direction:column;
  gap:6px;
  padding: clamp(20px,4vw,40px) clamp(10px,6vw,40px) 0;
  width:100%;
  flex-shrink:0;
}

.logo{
  font-family:"Lobelia",sans-serif;
  font-size: 18px;
  font-weight:400;
  letter-spacing:1px;
  line-height:1;
  text-transform:uppercase;
  color:#B6BBFF;
  width:max-content;
}

.star {
  position:absolute;
  right:clamp(20px,4vw,40px);
  width:clamp(50px,10vw,70px);
  height:clamp(50px,10vw,70px);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:0;
  opacity:0.9;
}

.star svg {width:100%;height:100%;}

.hero{
  padding:10px clamp(20px,4vw,40px) clamp(10px,4vw,30px);
  width:100%;
  flex-shrink:0;
}

.date {
  display:flex;
  gap:8px;
  align-items:center;
  color:#B6BBFF;
  margin-bottom:5px;
  font-size:clamp(24px,4vw,32px);
}

.date svg {
  width:clamp(20px,4vw,28px);
  height:clamp(20px,4vw,28px);
}

#title{
  font-size:clamp(35px,6vw,72px);
  line-height:1.0;
  color:#e7edff;
  width:100%;
}

.panel {
  border-radius:clamp(35px,4vw,50px) clamp(35px,4vw,50px) 0 0;
  padding: clamp(50px, 5vw, 70px);
  background:rgba(190,243,223,0.15);
  border:1px solid var(--glass-border);
  backdrop-filter:blur(10px) saturate(120%);
  -webkit-backdrop-filter:blur(10px) saturate(120%);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.04),0 8px 30px rgba(14,16,40,0.35);
  display:flex;
  flex-direction:column;
  gap:10px;
  width:100%;
  flex-grow:1;
  justify-content:flex-end;

}

.button{
  cursor:pointer;
  display:block;
  width:100%;
  padding: clamp(20px,4vw,24px);
  border-radius:999px;
  text-align:center;
  font-weight:700;
  font-size:clamp(24px,4vw,34px);
  color:#fff;
  text-decoration:none;
  background:#6265FE;
  box-shadow:0 8px 12px rgba(77,63,190,0.2),inset 0 6px 12px rgba(255,255,255,0.04);
  transition:transform .15s ease,box-shadow .15s ease;
  border:none;
}

.button.game{
  background:radial-gradient(ellipse at bottom,#B6BBFF 0%,#6265FE 70%);
}

.button:active{transform:translateY(2px) scale(.998)}
.button:hover{transform:translateY(-2px)}

.cta{
  text-align:center;
  margin-top:16px;
  margin-bottom:clamp(20px,4vw,30px);
  font-weight:600;
  color:#fff;
  font-size:clamp(18px,4vw,32px);
  opacity:.9;
}
